<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dimitrioskanellopoulos.athletica">

  <uses-feature android:name="android.hardware.type.watch"/>

  <uses-permission android:name="android.permission.BODY_SENSORS"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:theme="@android:style/Theme.DeviceDefault">

    <uses-library android:name="com.google.android.wearable" android:required="false" />

    <service
      android:name="com.dimitrioskanellopoulos.athletica.WatchFaceService"
      android:label="@string/app_name"
      android:permission="android.permission.BIND_WALLPAPER">

      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/watch_face" />

      <meta-data
          android:name="com.google.android.wearable.watchface.preview"
          android:resource="@drawable/preview_rectangular" />

      <meta-data
          android:name="com.google.android.wearable.watchface.preview_circular"
          android:resource="@drawable/preview_circular" />

      <meta-data
          android:name=
              "com.google.android.wearable.watchface.wearableConfigurationAction"
          android:value=
              "com.example.android.wearable.watchface.CONFIG_DIGITAL" />

      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
        <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
      </intent-filter>
    </service>

    <activity
        android:name=".permissions.PermissionActivity"
        android:label="@string/permissions_activity" >
    </activity>


    <activity
        android:name=".configuration.WatchFaceConfigurationActivity"
        android:label="@string/configuration_activity">
      <intent-filter>
        <action android:name=
            "com.example.android.wearable.watchface.CONFIG_DIGITAL" />
        <category android:name=
            "com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

  </application>

</manifest>
